/*@import 'bootstrap';*/

.tick {
    font: 10px sans-serif;
}

.track {
    stroke-linecap: round;
    stroke: #000;
    stroke-opacity: 0.1;
    stroke-width: 10px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
}

.handle {
    fill: white;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1px;
}

.button {
  width: 30px;
  height: 30px;
}

.settings-container {
  padding: 0.5em;
}

.input input {
  width: 50px;
  margin-left: 10px;
}

.input label {
  font-size: 0.8em;
  font-weight: 100;
  margin: 0 0 0.5em;
}

/* Layout */
#autoplay,
#slider-delay {
  text-align: center;
}

#plot {
  width: calc(100% - 250px);
  margin-left: 250px;
}

#autoplay {
  margin-top: 20px;
}

#settings {
  float: left;
  width: 250px;
}

/* Typo */
body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}