/*@import 'bootstrap';*/

@import './Components/Slider/style.css';
@import './Components/Autoplay/style.css';
@import './Components/Settings/style.css';

/* Layout */
#autoplay,
#slider-delay {
  text-align: center;
}

#plot {
  width: calc(100% - 250px);
  margin-left: 250px;
}

#autoplay {
  margin-top: 20px;
}

#settings {
  float: left;
  width: 250px;
}

/* Typo */
body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}